<main>
  <section>
    <div class='product product__form'>
      <h1 class='product__title'>Редагування товару</h1>
      {{#with data}}
        <form method='post' action='/product-edit'>
          <div class='product__card'>
            <h2 class='product__info'>Інформація про товар</h2>
            <div class='product__field_group'>
              <div class='product__field'>
                <label
                  for='name'
                  class='product__label'
                >Назва товару</label>
                <input
                  placeholder='{{name}}'
                  type='text'
                  name='name'
                  class='product__input'
                />

              </div>
              <div class='product__field'>
                <label
                  for='price'
                  class='product__label'
                >Ціна</label>
                <input
                  placeholder='{{price}}'
                  type='number'
                  name='price'
                  class='product__input'
                />
              </div>

              <div class='product__field'>
                <label
                  for='id'
                  class='product__label'
                >ID</label>
                <input
                  placeholder='{{id}}'
                  type='number'
                  name='id'
                  class='product__input'
                />
              </div>
            </div>
            <div class='product__field'>
              <label
                for='description'
                class='product__label'
              >Короткий опис товару</label>
              <input
                placeholder='{{description}}'
                type='text'
                class='product__input input--big'
                name='description'
              />
              <span class='product__add_info'>Відображується
                у картці товару</span>
            </div>
            <div class='flex'>
              <button class='product__button'>Зберегти товар</button>
              <a
                class='product__button red'
                href='/product-delete?id={{id}}'
              >Видалити товар</a>
            </div>
          </div>
        </form>
      {{/with}}
    </div>
  </section>
</main>